main {
    text-align: center;
    width: fit-content;
    margin: auto;
    padding: 29pt;
    border-radius: 10pt;
}

.begin-button {
    border: solid, black, 2pt;
    border-radius: 5pt;
    font-size: 18pt;
    background-color: blue;
    color: white;
    padding: 5pt;
}

.begin-button:hover {
    background-color: blueviolet;
}

.score-timer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.time-remaining {
    font-size: 20pt;
    font-family: 'Courier New', Courier, monospace;
}

.high-scores {
    font-size: 20pt;
    font-family: 'Courier New', Courier, monospace;
}