:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}

main {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 20%);
    font-size: 48pt;
}

html {
    background-color: var(--hue-neutral);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Quiz-info {
    width: 100vw;
    padding: 10px;
    --hue: var(--hue-neutral);
    background-color: hsl(var(--hue), 100%, 20%);
    text-align: center;
    color: white;
}

.title {
    font-size: 36pt;
}

.begin-button {
    border: solid, black, 2pt;
    border-radius: 5pt;
    font-size: 18pt;
    background-color: hsl(var(--hue), 100%, 50%);
    color: rgb(0, 0, 0);
    padding: 5pt;
}

.begin-button:hover {
    background-color: rgb(202, 5, 202);
    cursor: pointer;
}

.score-timer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.time-remaining {
    font-size: 20pt;
}

.high-scores {
    font-size: 20pt;
}

.quiz-container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    border: 3px solid black;
}

.answer-list {
    display: grid;
    gap: 10px;
    margin: 20px 0;
}

.btn,
.answer-btn,
.start-btn,
.next-btn {
    font-size: 24pt;
    background-color: hsl(var(--hue), 100%, 50%);
    padding: 5px 10px;
    border-radius: 5px;
}

.answer-btn:hover {
    font-size: 24pt;
    background-color: rgb(202, 5, 202);
    transition: 0.1s;
    cursor: pointer;
}

.answer-btn.correct {
    --hue: var(--hue-correct);
}

.answer-btn.wrong {
    --hue: var(--hue-wrong);
}

.start-btn:hover {
    font-size: 24pt;
    background-color: rgb(202, 5, 202);
    transition: 0.1s;
    cursor: pointer;
}

.next-btn:hover {
    font-size: 24pt;
    background-color: rgb(202, 5, 202);
    transition: 0.1s;
    cursor: pointer;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}