main {
    text-align: center;
    width: fit-content;
    margin: auto;
    padding: 29pt;
    border-radius: 10pt;
}

button {
    border: solid, black, 2pt;
    border-radius: 5pt;
    font-size: 18pt;
    background-color: blue;
    color: white;
    padding: 5pt;
}

button:hover {
    background-color: blueviolet;
}